{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user/register.css' %}">
    <title>Actualizar contraseña</title>
</head>

<body>
    <div class="container" style="margin: 100px;">
        <div class="title">
            <h1>Actualizar Contraseña:</h1>
        </div>
        <div class="form">
            <form action="" method="POST"> {% csrf_token %}
                <form action="" method="POST">
                    <label for="password" class="colortext"><b>Contraseña actual</b></label>
                    <!-- <input type="email" name="email" id="email" required placeholder="Ingrese su correo electronico"> -->
                    {{form.password}}
                    <label for="pass"><b>Contraseña Nueva:</b></label>
                    <!-- <input type="password" name="pass" id="pass" required placeholder="Ingrese una contraseña"> -->
                    {{form.password_new}}
                    <input type="submit" class="btn" value="Actualizar">
                </form>
            </form>
        </div>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    </div>
</body>
</html>