{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/891c58d975.js" crossorigin="anonymous"></script>
    {% block custom_css %}

    {% endblock  %}
</head>

<body style="background-color: #E1EFE6;">

    {% include "includes/navbar.html" %}

    {% block main %}
    
    {% endblock %}

</body>

</html>