{% extends "base.html" %}
{% block title %}Search{% endblock  %}

{% block main %}
    {% if q %}
        <h1>You Searched For {{ q }}</h1>
        <br/>
        <section>

            {% for product in products %}
                <article>
                    <a href="/products/{{ product.id }}">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.price }}</p>
                        <img src="{{ product.image }}">
                    </a>
                    
                    <!--<a href="/cart/add/{{ product.id }}">Add to cart</a>-->
                </article>
            {% endfor %}
        </section>
    {% else %}
        <h1>hey you forgot to search a product...</h1>
    {% endif %}
    {% if user.isEmailValid == False %}
        <p>Valida tu correo electronico</p>
    {% endif %}

{% endblock %}